<br>
<button type="button" class="btn btn-dark float-right" routerLink="new">Scrivi <fa name="plus"></fa></button>
<br><br>
<div class="container">

  <div class="row">

    <div class="col-lg-4 col-sm-6 portfolio-item" *ngFor="let myarticle of myArticles">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h4 class="card-title">{{myarticle.title}}</h4>
          <h5 class="card-subtitle mb-2">{{myarticle.description}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{myarticle.created_at}}</h6>
          <!-- remove html tags and limit string length -->
          <p class="card-text">{{myarticle.content | stripTags | slice:0:20}}...</p>
          <button class="btn btn-primary float-right" (click)="editArticle(myarticle)">Vedi</button>
        </div>
      </div>
      <br>
    </div>

  </div>

</div>
